<div class="card" *ngIf="fromDataUser != undefined && nameCountry != undefined">
    <div class="card-header">
        User: <b>{{ fromDataUser.FirstName + " " + fromDataUser.LastName}}</b>
    </div>
    <div class="card-body table-responsive">
        <div class="row">
            <div class="col-md-6">
                <h4>First Name: <strong>{{ fromDataUser.FirstName }}</strong></h4>
            </div>
            <div class="col-md-6">
                <h4>Last Name: <strong>{{ fromDataUser.LastName }}</strong></h4>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h4>Address: <strong>{{ fromDataUser.Address }}</strong></h4>
            </div>
            <div class="col-md-4">
                <h4>Country: <strong>{{ nameCountry.name }}</strong></h4>
            </div>
            <div class="col-md-4">
                <h4>State: <strong>{{ fromDataUser.State }}</strong></h4>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h4>Email: <strong>{{ fromDataUser.Email }}</strong></h4>
            </div>
            <div class="col-md-6">
                <h4>Password: <strong>{{ fromDataUser.Password }}</strong></h4>
            </div>
        </div>
        <hr>

        <div class="row">
            <h3>Views: {{ fromDataUser.Views }}</h3>
        </div>


        <button (click)="returnToList()" class="btn btn-primary">Return to list</button>
    </div>
</div>